.cards-container {
  border:none ;
  display: flex; 
  color: #ccc;
  padding: 1rem;
  box-shadow: none;
  overflow-x: auto;
  position: relative;
  background: #1b1e21;
  background: linear-gradient(81deg, rgba(27, 30, 33, 1) 0%, rgba(0, 0, 0, 1) 100%);
  &::-webkit-scrollbar {
    display: none;
  }
}

.card {
  flex: 1 0 200px;
  box-shadow: 0 1px 1rem -4px #000;
  background: #fff;
  margin: 1rem;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  
  img {
    width: 200px;
    height: 200px;
    object-fit: center;
  }
  
  &:hover {
    box-shadow: 0 4px 1rem -4px #000;
    transform: translateY(-3px);
  }
}

@media screen and (max-width: 625px) {
  .container {
    width: 100%
  }
  
  .cards-container {
    padding: .5rem;
  }
  
  .card {
    margin: .5rem;
  }
}





