.cards-container {
  border:none ;
  display: flex; 
  color: #ccc;
  padding: 1rem;
  box-shadow: none;
  overflow-x: auto;
  position: relative;
  background: #1b1e21;
  scrollbar-width:none;
  background: linear-gradient(81deg, rgba(27, 30, 33, 1) 0%, rgba(0, 0, 0, 1) 100%);
  &::-webkit-scrollbar {
    display: none;
  }

}

.imgContainer{
  border:none;
  border-radius:24px;
  position :relative;
  width : 100%;
  height:85%;
}



.playButton{
	border:none;
	width:3rem;
	height:3rem;
	background-color:#059212;
	color:white;
	border-radius:50%;
	font-size:28px;
	display:flex;
	justify-content:center;
	align-items:center;
	transition: all  .4s  ease;
	position:absolute;
	opacity:0;
	bottom:0.5rem;
	right:0.5rem;
  .play-btn{
      color:#333;
      background-color:transparent; 
      
  }
}









.card {
  flex: 0  0 200px;
  background: transparent;
  margin: 1rem;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  border:none ;
  padding:1rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center; 

  img {
    width: 100%;
    height: 100%;
    object-fit: center;
    border-radius:12px;
  }
  h4 , h5  {
   border:none ;
   width:100%;
   background:none;
   margin-top:1rem; 
  
  }
 







  &:hover {
   background: #38312f;
background: linear-gradient(356deg, rgba(56, 49, 47, 1) 0%, rgba(0, 0, 0, 1) 100%);
    
    
  }
  &:hover .playButton {
   display:flex;
   opacity:3; 
  }
}

.playButton:hover {
   color:black;
   background-color:#06D001;
   transform:scale(1.09);
   cursor:pointer;


}








@media screen and (max-width: 625px) {
  .container {
    width: 100%
  }
  
  .cards-container {
    padding: .5rem;
  }
  
  .card {
    margin: .5rem;
  }
}

.scroll-container{
 border:none ;
 display:flex ; 
 flex-direction :row;
 justify-content :space-between;
 height:auto;
 width:100%;
 background-color:none;
 background:transparent;
 scroll-behavior:smooth;
 overflow-x:auto;
 position:absolute;
 margin:2rem auto;
.scroll-button{
    width:45px;
    position:absolute;
    top:50%;
    color:#fff;
    font-size:1rem;
    background:transparent;
    border:none;
    background-color:transparent;
    background: rgba(0, 0, 0, 0.5);
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    height:45px;
    border-radius:50%;
    z-index:1;
 
 }
}

.scroll-container .left{
 left:1rem;
}

.scroll-container .right{
 right:1rem;
}






.scroll-content {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
