
.trendingContainer {
 border:none ; 
 width:100%;
 position :relative;
 background-color:transparent;
}

.header{
 border:none;
 background:none;
 display:flex;
 flex-direction:row;
 justify-content:space-between;
 margin : 2px auto;
}
 

.header h1 {
 background:none;
}

.slider {
 border :none;
 width:100%; 
 height:auto;
 background-color:transparent;
}






