.dynamicPage {	
	border:none ;
	width:69.5%;
	height:100%;
	border-radius :12px;
	color:white;	
	background: #1b1e21;
background: linear-gradient(81deg, rgba(27, 30, 33, 1) 0%, rgba(0, 0, 0, 1) 100%);
display:flex;
flex-direction:column;
grid-template-columns:1fr;
gap:15px;
overflow-y:auto;
overflow-x:hidden;
}

.TrendingContainer {
 margin:1rem 1rem;
 background-color:transparent;
 position:relative; 
 width:100%;
}
.PopularContainer{
 position:relative;
 width:100%;
 background-color:transparent;
 margin:1rem 1rem;

}



