.dynamicPage {	
	border:none ;
	width:100%;
	height:100vh;
	border-radius :12px;
	color:white;	
	background: #1b1e21;
background: linear-gradient(81deg, rgba(27, 30, 33, 1) 0%, rgba(0, 0, 0, 1) 100%);
display:flex;
flex-direction:column;
min-height:0;
.scroll {
 width:100%;
 height:150vh;
 overflow-y:auto;
 min-height:0;
 background:transparent;
}
}





.searchResult{
 display:flex;
 flex-direction:column;
 justify-content:space-around;
 height:100%;
 background:transparent;
 .navbar-result{
	 margin:1rem ;
  list-style-type:none;
  background:transparent;
  display:flex;
  justify-content:space-evenly;
  height:2rem; 
  .navbar-result-items{
   background:transparent;
   display:flex;
   align-items:center; 
   border-radius:12px;
   border:none;
   background:#222222;
   transition:all 0.4s ease;
  }


  
  .navbar-result-items:hover{
   background:#555555;
   cursor:pointer;
  }



  button{
   border:none ;
   color:#ffffff;
   font-size:1rem;
   margin:1rem;
   background:transparent; 
  }
 }
}

.active-btn{
 background:#fff !important;
 color:#222 !important;
 font-weight:bold !important;
 font-size:1rem   !important;
 button{
 font-weight:bold !important;
 color:#222222  !important; 
 }
}


.search-Result-items{
 background:transparent;
 border:none ;
 display:flex;
 flex-direction:column;
 width:40%;
 height:100%;
 padding-left:1rem;
}



.result-info{
background:transparent;
background-color:transparent;
}

.top-result-container{
 background:transparent;
 border:none;
 width:100%;
 height:30rem;
 position:relative;
 display:flex;
 justify-content:space-between;
 flex-direction:row;
 align-items:center;
}

.other-list-music{
 border:none;
 display:flex;
 width:60%;
 height:100%;
 flex-direction:column;
 justify-content:space-evenly;
 overflow:hidden;
 background:transparent;
}


.list-of-songs{
 border:none;
 width:100%;
 height:100%;
 background:transparent;
}

.search-music-header {
 background:transparent;
 
}




.TrendingContainer {
 margin:1rem 1rem;
 background-color:transparent;
 position:relative; 
 width:100%;
 order:2;
}
.PopularContainer{
 position:relative;
 width:100%;
 background-color:transparent;
 margin:1rem 1rem;
 order:3;
}
.footer {
 border:1px solid red ; 
 position:relative;
 width:100%;
 height:40vh;
 order:4;
 margin-bottom:1rem;
 background:transparent;
}


