.LoginButton {
  border :none ;
  width:13vh;
  height:4.5vh;
  border-radius :24px;
  text-align:center;
  font-size : 16px; 
  color:darkblue;
  background-color:#ffffff;
  position:relative;
  margin : 2px;
  font-weight:bold;
  background:#ffffff;
}




.homeIconContainer {
	border:none ;
	border-radius:50%;
	background-color:#373D3D;
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	transition:all 0.5s ease;
}


.iconHome{
   font-size:24px;
   margin:12px;
   background-color:transparent;
   color:#ccc;
   
}

.homeIconContainer:hover {
	cursor:pointer;
	background-color:#596161;


}









