


.staticMenu {
  border :none ;
  width :25%;  
  height:85vh;
  position:relative;
  overflow:hidden;
  margin:0.2px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  border-radius :12px;
  background: #1b1e21;
  background: linear-gradient(120deg, rgba(27, 30, 33, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.headerStaticMenu{
 background:transparent;
 display:flex;
 justify-content:space-between;
 flex-direction:row;
 align-items:center;
 background-color:transparent;
}


.headerStaticMenu h4 {
 background-color:transparent;
 border:none;
 font-size:1rem;
 color:white;
 margin:0.8rem;
}
.componentsContainer{
 background:none;
 border:none;
 height:80%;
 padding-top:1rem;
}

.staticFooter{
 display:flex;
 flex-direction:column;
 position:relative;
 background:none;
 box-sizing:border-box;
 margin-bottom:4rem;
 ul{
  position:relative;
  background:none;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  margin-bottom:2rem;
  justify-content:space-between;
  list-style-type:none;
  width:100%;
   li{
    background:none;
    position:relative;
    color:#666;
    flex:1 1  auto;
    font-size:0.8rem;
    font-weight:bold;
    margin:0.5rem;
   } 
 }
 h4{
  background:none;
  color:#ffffff;
  width:4rem;
  font-size:0.8rem;
  margin-left:0.5rem;
 }
}

.staticTextStyle {
 border:none !important;
 background:#222 !important;
 margin-top:1rem;
 border-radius:12px;
 width:95% !important;
 margin-left:0.5rem;
 h4{
   font-size:1.2rem !important; 
 }
 p{
  font-size:0.9rem !important; 
  font-weight:400 !important;
 
 }

}


























